version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: unu_postgres
    environment:
      POSTGRES_DB: unu_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
